<% if @name %>
  Hello <%= @name %>!
<% end %>

<table>
  <% @player_1_grid.each do |row| %>
    <tr>
      <% row.each do |cell| %>
        <td><%= cell %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<form action="/start_game" method="post">
  <input type="text" name="ship_coord" placeholder="ship coord">
  <input type="submit" value="Submit">
</form>
